{{- define "main" }}
  
  {{- partial "hero.html" . }}

  <aside class="breadcrumbs wrap">
    <a href="/">Home</a> » <a href="/services-detail/">Services</a> » {{ .Title }}
  </aside>
  
  <article class="intro wrap" role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="flow larger-text">
      {{ .Content }}
    </div>
  </article>

  <article class="services trapezium-right-grey">
    <div class="wrap">
      <ul class="services__block">
        {{- range $.Site.Data.websitecreationservices.items -}}
        <li class="services__block-item">
          <a aria-label="{{ .header }}" href="{{ .url}}">
            <svg aria-hidden="true" class="tree"><use xlink:href="/icons/defs.svg#icon-{{ .svg}}"></use></svg>
            <span class="visually-hidden">{{ .header }}</span>
          </a>
          <a href="{{ .url}}">
            <h2>{{.header}}</h2>
          </a>
          <p>{{.text}}</p>
          <p><a class="primary-btn" href="{{ .url}}">More information<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a></p>
        </li>
      {{- end -}}
      </ul>
  
    </div>
  
  </article>
  

  {{- partial "cta.html" . -}}

{{- end }}{{/* end main */}}