.accreditations {
  background-color: var(--lightBlue);
  padding: 1.5em 0;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    list-style: none;
    // Clever calculations for logo adjustments - https://9elements.com/blog/building-the-perfect-logo-strip/
    --base-height: 8rem;
    --scale-factor-horizontal: 0.1;
    li {
      --base-ratio: calc(var(--width) / var(--height));
      aspect-ratio: var(--base-ratio);
      --factor-horizontal: min(var(--scale-factor-horizontal) * -1 * var(--base-ratio) + var(--scale-factor-horizontal) + 1, 1);
      height: max(var(--base-height) / 2, var(--base-height) * var(--factor-horizontal));
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
