.hero-container {
  position: relative;
  margin-bottom: 2em;
  &-image {
    display: block;
    height: 500px;
    margin: 0 auto;
    object-fit: cover;
  }
  p {
    color: var(--white);
    @include set-font-size(1.6);
    text-align: center;
    max-width: 600px;
    width: 92%;
    margin: 0;
    padding: 1em;
    background-color: rgba($theme-green, 0.7);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
