.sidebar {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 58em) {
  .content-sidebar {
    display: flex;
    justify-content: space-between;
    article {
      flex: 0 1 65%;
    }
    .sidebar {
      flex: 0 1 30%;
    }
  }
}
