.footer-nav {
  background-color: var(--slateGrey);
  padding: 2em 0;
}
.footer-nav-block1 {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-foot__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
    width: fit-content;
    svg {
      fill: var(--darkOrange);
      width: 2em;
      height: 2em;
    }
    .logo-text {
      color: var(--lightBlue);
      font-size: 1.75em;
    }
  }
  .linkedin {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    width: fit-content;
    svg {
      fill: var(--lightOrange);
      width: 1.5em;
      height: 1.5em;
    }
    span {
      color: var(--lightOrange);
      padding-left: 0.75em;
      align-self: end;
      line-height: 1;
    }
    &:hover,
    &:active {
      svg {
        fill: var(--secondaryHover);
      }
      span {
        color: var(--secondaryHover);
      }
    }
  }
}
.footer-nav-block2 {
  margin-bottom: 4em;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin-bottom: 0.5em;
    text-align: center;
  }
  a {
    color: var(--lightOrange);
  }
}

.company-info {
  padding-bottom: 2em;
  p {
    text-align: center;
    color: var(--white);
    margin-bottom: 0.5em;
  }
}
@media screen and (min-width: $bp-small) {
  .footer-nav-block2 {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        flex: 0 1 50%;
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .footer-nav {
    > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr auto;
    }
  }
  .footer-nav-block1 {
    ul {
      align-items: flex-start;
    }
    grid-column: 1/3;
    .site-foot__brand,
    .linkedin {
      justify-content: flex-start;
    }
  }
  .footer-nav-block2 {
    ul {
      display: block;
      text-align: left;
    }
    li {
      text-align: left;
    }
  }

  #wcb {
    order: 3;
    &.carbonbadge {
      text-align: left !important;
    }
  }

  .company-info {
    grid-column: 1/3;
    p {
      flex: 0 1 auto;
      margin-bottom: 0;
      text-align: left;
    }
  }
}
