@use "dark-mode-toggle";
.site-head {
  background-color: var(--lightBlue);
  padding: 1.5em 0;
  // min-height: 3.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__brand {
    width: 200px;
    color: var(--textColour) !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    svg {
      fill: var(--darkOrange);
      width: 1.125em;
      height: 1.125em;
    }
  }
  &__nav {
    align-self: center;
  }
}

@media screen and (min-width: 30em) {
  .site-head {
    &__brand {
      width: 300px;
      font-size: 1.75em;
    }
  }
}
