.site-head {
  padding: 0.5em 0;
  border-bottom: 1px solid $mid-grey;
  min-height: 3.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 15;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__brand {
    width: 200px;
    color: var(--textColour) !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    img {
      width: 2.5em;
      padding: 0 0.25em 0 0;
    }
  }
  &__nav {
    align-self: center;
  }
}

@media screen and (min-width: $bp-small) {
  .site-head {
    &__brand {
      width: 300px;
      font-size: 2em;
    }
  }
}
@import "dark-mode-toggle";
