{{/* Only renders this section if there are links to render */}}
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <footer class="[ pagination ] mb-1-5">
    <div class="wrapper">
      <nav class="pagination__inner" aria-label="Pagination links">
        {{ if .Paginator.Prev }}
          <a class="green-transp-btn" href="{{ .Paginator.Prev.URL }}" data-direction="backwards">
            <span><svg aria-hidden="true" class="icon icon-arrow-left4"><use xlink:href="/icons/symbol-defs.svg#icon-arrow-left4"></use></svg>
              {{ if .Params.paginationPrevText }}
                {{ .Params.paginationPrevText }}
              {{ else }}
                {{ print "Previous" }}
              {{- end -}}
            </span>
          </a>
        {{ end }}
        {{ if .Paginator.Next }}
          <a class="green-transp-btn" href="{{ .Paginator.Next.URL }}" data-direction="forwards">
            <span>
              {{ if .Params.paginationNextText }}
                {{ .Params.paginationNextText }}
              {{ else }}
                {{ print "Next" }}
              {{- end -}}
              <svg aria-hidden="true" class="icon icon-arrow-right4"><use xlink:href="/icons/symbol-defs.svg#icon-arrow-right4"></use></svg></span>
          </a>
        {{ end }}
      </nav>
    </div>
  </footer>
{{ end }}