<aside class="next-prev-nav">
  <ul>
    <li class="previous-item">
      <a class="green-transp-btn" href="{{ .Params.prevUrl }}" title="{{ .Params.prevTitle }}">
        <svg aria-hidden="true" class="icon icon-arrow-left4"><use xlink:href="/icons/symbol-defs.svg#icon-arrow-left4"></use></svg>Previous
      </a>
    </li>
    <li class="next-web-creation-item">
      <a class="green-transp-btn" href="{{ .Params.nextUrl}}" title="{{ .Params.nextTitle }}">Next
        <svg aria-hidden="true" class="icon icon-arrow-right4"><use xlink:href="/icons/symbol-defs.svg#icon-arrow-right4"></use></svg>
      </a>
    </li>
  </ul>
</aside>
