{{- define "main" }}

<section class="contact content-sidebar wrap">
  <article class="services">
    {{ .Content | safeHTML }}
    <form class="mb-1-5" id="carbon" method="POST" >
      <fieldset>
        <p>
          <label for="input-url">Full URL<em class="required">(required)</em></label>
          <input name="input-url" id="input-url" type="url"  required />
        </p>
      </fieldset>

      <fieldset class="mb-1-5">
        <button class="primary-btn" type="submit" id="submit" name="submit" value="submit">Send<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></button>
      </fieldset>

    </form>

  </article>

  {{- partial "partials/contact-sidebar.html" . -}}
  
</section>
{{- end }}{{/* end main */}}
