{{- define "main" }}

{{ partial "partials/hero.html" . }}

<section class="carbon-calculation">
  <div class="wrap">
    <article>
      <h2 class="h3">Carbon emissions of your website</h2>
      <p>Thanks for checking out the article on the PlayItGreen website about carbon emissions.</p>
      <p>We can provide you with an estimate of the carbon output of one of your web pages as well as some recommendations on how you can reduce those emissions by improving the efficiency of your site.</p>
      <p>Simply include the web page address you'd like us to check (including the https:// part please), your name and an email address in the form below, click Calculate and we'll send you the figures and suggestions. No obligation at all.</p>
      <div class="form-image">
        <form action="/api/submit-carbon-request" method="POST">
          <input type="hidden" name="subject" value="AttractMore Carbon Emissions Request (Play it Green)" />
          <fieldset>
            <p>
              <label for="url">Full address of web page to be checked:</label>
              <input name="url" id="url" type="url" maxlength="50" required placeholder="https://" />
            </p>
            <p>
              <label for="name">Your name:</label>
              <input name="name" id="name" type="text" maxlength="35" autocomplete="name" required />
            </p>
            <p>
              <label id="honey" for="contact-name">Contact Name
                <input type="text" id="contact-name" name="contact-name">
              </label>
            </p>
            <div class="email-entry">
              <label for="email">Email address:</label>
              <input name="email" id="email" type="email" autocomplete="email" required maxlength="100" />
              <p class="email-suggestion"><span class="alert">! </span>Did you mean <a class="suggested-email"><span class="address"></span>@<span class="domain"></span></a>? Click or tap the amended email to use.</p>
            </div>
          </fieldset>
          <fieldset class="mb-1-5">
            <button class="primary-btn" type="submit" id="submit" name="submit" value="submit">Calculate<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></button>
          </fieldset>
          <p><small>We will only use the information you provide to send you the carbon emissions data. We will not use the information for marketing or for any other purpose.</small></p>
        </form>
        <aside class="illustration">
          <svg aria-hidden="true"><use xlink:href="/icons/tree-defs.svg#tree3"></use></svg>
        </aside>
      </div>
    </article>
  </div>
</section>
  
  {{- end }}{{/* end main */}}