{{- define "main" }}

{{ partial "partials/page-header.html" . }}

<section class="contact content-sidebar wrap">

  <article>
    <p>{{ .Content }}</p>
      <p class="centre"><a target="_blank" href="/files/get-more-from-your-business-web$.Page.Site.Params.pdf" class="blue-btn">Download our eBook</a></p>
    <p>The AttractMore team</p>
    {{- $cloudinaryParms = "c_scale,f_auto,q_auto,"  -}}
    {{- $cloudinaryFolder := "/contact/" -}}
    {{- $image = "sunlight-in-the-forest.jpg" -}}
    <img class="mb-1-5" loading="lazy"
      width="1920" height="1080"
      src="{{ $.Page.Site.Params.cloudinaryPath }}{{ $cloudinaryParms }}w_800{{ $cloudinaryFolder }}{{ $image }}" alt="Sunlight in the forest"
      srcset="
        {{ $.Page.Site.Params.cloudinaryPath }}{{ $cloudinaryParms }}w_700{{ $cloudinaryFolder }}{{ $image }} 700w,
        {{ $.Page.Site.Params.cloudinaryPath }}{{ $cloudinaryParms }}w_600{{ $cloudinaryFolder }}{{ $image }} 600w,
        {{ $.Page.Site.Params.cloudinaryPath }}{{ $cloudinaryParms }}w_450{{ $cloudinaryFolder }}{{ $image }} 450w,
        {{ $.Page.Site.Params.cloudinaryPath }}{{ $cloudinaryParms }}w_350{{ $cloudinaryFolder }}{{ $image }} 350w"
        sizes="(min-width:58em) 62vw, 96vw">
  </article>
  <aside class="sidebar">
    <div class="sidebar__inner">
      <blockquote>If you don’t have time to do it right, what makes you think you’ll have time to do it over?</blockquote>
      <cite>— Seth Godin</cite>
      <blockquote>Being aware of your fear is smart. Overcoming it is the mark of a successful person.</blockquote>
      <cite>— Seth Godin</cite>
    </div>
  </aside>
</section>

{{- end }}{{/* end main */}}