@import "utilities/variables";
@import "utilities/mixins";
// @import "utilities/larger-text";
@import "blocks/hero";
@import "utilities/forms";
// @import "blocks/services-block";
// @import "utilities/subscription";
@import "blocks/testimonials";

.why-low-carbon {
  padding: 0 0 2em;
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    margin: 0 0 3em;
    padding: 0;
    justify-content: center;
    p {
      max-width: 36ch;
      padding-right: 1em;
      margin-top: 0;
    }
    > svg {
      align-self: start;
      width: 8em;
    }
  }
}
@media screen and (min-width: $bp-large) {
  .why-low-carbon {
    ul {
      display: flex;
      justify-content: space-around;
      li {
        flex: 0 1 44%;
        margin-bottom: 1em;
      }
      article {
        display: flex;
        flex-direction: column;
        p {
          &:last-of-type {
            margin-top: auto;
          }
        }
      }
    }
  }
}

.attractmore-purpose {
  padding: 2em 0;
  background-color: var(--slateGrey);
  .attractmore {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    svg {
      width: 2em;
      height: 2em;
      fill: var(--darkOrange);
    }
    span {
      color: var(--lightBlue);
    }
  }
  h2 {
    color: var(--white);
  }
  p {
    color: var(--lightBlue);
  }
  img {
    mask-image: url(masks/circles-mask.svg);
    mask-repeat: no-repeat;
    width: min(60%, 387px);
    max-width: 387px;
    display: block;
    margin: 0 auto;
  }
  .arrow-down {
    margin: 2em 0 0 5%;
    width: 3em;
    height: 3em;
    fill: var(--midGrey);
  }
}

@media screen and (min-width: $bp-medium) {
  .attractmore-purpose {
    article {
      padding: 0 2em;
    }
    .content-image {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > * {
        flex: 0 1 40%;
      }
      img {
        margin: 0;
      }
    }
  }
}

.stand-out {
  padding: 4em 0 3em;
  .logo-plus-button {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    > * {
      grid-column: 1 / 1;
      grid-row: 1/1;
    }
  }
  .logo {
    fill: var(--paleLightBlue);
    width: 18em;
  }
}
@media screen and (min-width: $bp-medium) {
  .stand-out {
    article {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .text-block {
        flex: 0 1 46%;
      }
      .logo-plus-button {
        flex: 0 1 25%;
      }
    }
  }
}
.carbon-calculation {
  padding: 2em 0;
  background-color: var(--lightBlue);
  input {
    max-width: 600px;
  }
  .illustration {
    text-align: center;
    svg {
      max-width: 12em;
    }
  }
}
@media screen and (min-width: $bp-medium) {
  .carbon-calculation {
    .form-image {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      // flex-direction: row-reverse;
      .illustration {
        flex: 0 1 25%;
        svg {
          margin: 0;
          max-width: none;
        }
      }
      form {
        flex: 0 1 65%;
      }
    }
  }
}

.testimonials {
  background-color: var(--lightBlue);
  background-image: linear-gradient(0deg, var(--lightYellow), var(--lightBlue));
  background-repeat: no-repeat;
  padding: 3em 0 0.5em;
  h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  .testimonial {
    margin-bottom: 3em;
  }
  figure {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    max-width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: $bp-medium) {
  .testimonials {
    .testimonial {
      display: flex;
      justify-content: space-between;
      figure {
        flex: 0 1 25%;
      }
      .text-block {
        flex: 0 1 70%;
      }
      &.even {
        flex-direction: row-reverse;
      }
    }
  }
}

.great-fit,
.work-together {
  padding: 3em 0;
  span {
    color: var(--darkGreen);
  }
  .button-block {
    text-align: center;
  }
}

.un-sdgs {
  padding: 3em 0;
  background-color: var(--lightYellow);
  ul {
    &.sdg-images {
      list-style: none;
      padding: 0;
      margin: 3em 0 2em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
      justify-items: center;
    }
  }
  li {
    margin: 0 0 0.75em;
    padding: 0;
  }
  img {
    max-width: 200px;
  }
  .text-block,
  .intro {
    margin: 0 auto;
    max-width: 60ch;
  }
}
@media screen and (min-width: $bp-medium) {
  .un-sdgs {
    ul {
      &.sdg-images {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
