@use "utilities";
//@import "utilities/mixins";
@use "blocks/sidebar-layout";
@use "blocks/sidebar";
// @import "utilities/forms";
@use "blocks/post-meta";
@use "blocks/pagination";
// @import "utilities/larger-text";

.tags-list {
  list-style: none;
  margin-left: 0;
  li {
    padding-left: 0;
    clear: both;
    img {
      margin-bottom: 1em;
    }
  }
}
.post-list__item {
  clear: both;
  img {
    margin-bottom: 1em;
  }
}
.excerpt {
  ul,
  ol {
    list-style: disc;
    margin-left: 1em;
    li {
      padding-left: 1.5em;
    }
  }
}
.hero-image {
  margin-top: 0.5em;
}

@media screen and (min-width: 30em) {
  .post-list {
    img {
      float: right;
      margin: 0 0 1.5em 1em;
      width: 40%;
      max-width: 298px;
    }
  }
}
