{{- define "main" }}

<article class="intro wrap" role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="flow larger-text">
    {{ .Content }}
  </div>
</article>

<section class="content-sidebar wrap">
  <article class="feed">
    <div class="post-list">
      {{- range .Paginator.Pages.ByPublishDate.Reverse -}}
        {{ partial "partials/post-list-item.html" . }}
      {{- end -}}
    </div>
    {{ partial "partials/blog-pagination" . }}
  </article>
  {{ partial "partials/blog-sidebar.html" . }}
</section>
{{- end }}{{/* end main */}}