{{- define "main" }}
  
  <article class="intro wrap" role="article" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="flow larger-text mt-1-0">
      {{ .Content }}
    </div>
  </article>

  <article class="work-items">
    <div class="wrap">
      <ul>
        {{- range .Pages.ByWeight.Reverse -}}
        {{- $mainImage := .Params.imageMain -}}
        <li class="work-items__item">
          <a href="{{ .Params.link }}">
            <img 
            {{ if lt .Params.weight 16 -}} loading="lazy" {{ end -}}
              src="{{ site.Params.cloudinaryPath }}{{ site.Params.cloudinaryWorkMainParms | safeURL }}w_700{{ site.Params.cloudinaryWorkMainFolder }}{{ $mainImage }}" alt="{{ .Params.imageAlt }}"
              srcset="
              {{- range site.Params.cloudinaryWorkMainWidths -}}
                {{ site.Params.cloudinaryPath }}{{ site.Params.cloudinaryWorkMainParms | safeURL }}w_{{- . -}}{{ site.Params.cloudinaryWorkMainFolder }}{{ $mainImage }}{{- print " " . "w, "}}
              {{- end -}}
                "
                sizes="{{- site.Params.cloudinaryWorkMainSizes | safeURL -}}" >
          </a>
          <aside>
            <h2>{{ .Params.title }}</h2>
            <p>{{ .Params.text }}</p>
            <a class="primary-btn" href="{{ .Params.link }}">More details<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
          </aside>
        </li>
        {{- end -}}
      </ul>
    </div>
  
  </article>

{{- end }}{{/* end main */}}