<!DOCTYPE html>
<html lang="en-GB">

<head>
    {{- partial "head.html" . }}
</head>

<body id="top">
    {{- partial "header.html" . }}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . -}}

    {{- partial "partials/dark-mode-toggle.html" . }}
    <script type="module" defer src="/js/scripts.js"></script>
    {{- if eq .Title "Contact" -}}
      <script type="module" src="/js/contact.js"></script>
      <script src="/js/mailcheck.min.js"></script>
      <script defer src="/js/runMailcheck.js"></script>
    {{- end -}}
    {{- partial "partials/service-worker.html" . }}
</body>

</html>
