{{- define "main" }}

<section class="intro">
  {{- partial "partials/header.html" . -}}
  <div class="wrap">
    <article class="intro__content">

      <h1>E-commerce<br><span>websites</span> for<br>businesses<br>that care</h1>
      <img src="/images/misc/forest-tree.webp" decoding="async" width="387" height="387" alt="tree" >
      <div class="intro__text">
        <p>Many e-commerce websites aren't selling as much as they could and business owners become frustrated. We create smooth, fast, secure, responsive e-commerce websites that help you sell more without costing the earth.</p>
        <a class="primary-btn" href="#">Getting started<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
      </div>


    </article>
  </div>
</section>

<section class="owner-designer">
  <div class="wrap">
    <h2>Business owner or Professional designer?</h2>
    <ul>
      <li>
        <svg aria-hidden="true"><use xlink:href="/icons/tree-defs.svg#pine"></use></svg>
        <article>
          <h3>Business owners</h3>
          <p>We create secure, optimised eCommerce website to take your business to the next level.</p>
          <a class="primary-btn" href="#">Getting started<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
        </article>
      </li>
      <li>
        <svg aria-hidden="true"><use xlink:href="/icons/tree-defs.svg#oak"></use></svg>
        <article>
          <h3>Designers</h3>
          <p>We offer a white-label service, building effective eCommerce sites from your designs.</p>
          <a class="primary-btn" href="#">Design collaboration<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
        </article>
      </li>
    </ul>
  </div>
</section>

<section class="making-a-difference">
  <div class="wrap">
    <aside class="attractmore">
      <svg aria-hidden="true"><use xlink:href="/icons/logo-defs.svg#attractmore-logo"></use></svg>
      <span class="h2">AttractMore</span>
    </aside>
    <article>
      <div class="text-block">
        <h2 class="h3">Making a difference</h2>
        <p>If you'd like to be able to reach more people with your products, sell more, make more money and feel proud of your business, we want to help. We're particularly keen to work with eco-conscious businesses that are concerned about the environment, sustainability and the future of the planet. This coincides with our values which is why we specialise in creating low-carbon websites.</p>
      </div>
      <img src="/images/misc/forest-lake.webp" alt="forest and lake" width="387" height="387" decoding="async" loading="lazy">
    </article>
    <svg class="arrow-down" aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-down"></use></svg>
  </div>
</section>

<section class="be-better">
  <div class="wrap">
    <article>
      <div class="text-block">
        <h3>We believe that things can be better</h3>
        <p>We understand that it can be frustrating if you're not selling enough and the business is not working out the way you expected but, as others have found, a fully optimised website that is fast and secure can make all the difference to your sales.</p>
        <p>We will create a safe, fast and effective e-commerce website to promote your business and boost your sales. The key is to customise the website to meet the specific, unique requirements of your business. If this sounds like what you need, we could be the perfect fit for you.</p>
        <p>Our small team builds eCommerce sites using a range of different tools (not just WordPress!) and we will help you decide which is the best option for your business to really get it moving.</p>
      </div>
      <aside class="logo-plus-button">
        <svg class="logo" aria-hidden="true"><use xlink:href="/icons/logo-defs.svg#attractmore-logo"></use></svg>
        <a class="primary-btn" href="#">Getting started<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
      </aside>
    </article>
  </div>
</section>

<section class="testimonials">
  <div class="wrap">
    <h2>Testimonials</h2>
    <article class="testimonial">
      <figure>
        <img src="images/testimonials/julie-macken-neves-bees.webp" width="300" height="300" alt="Julie Macken from Neve's Bees" decoding="async" loading="lazy">
      </figure>
      <div class="text-block">
        <h3>Julie Macken @ Neve's Bees</h3>
        <p>I would highly recommend Roger. Roger initially created for us a simple yet attractive e-commerce website which worked perfectly and fit our budgets. As our business has grown, Roger has been instrumental in developing our website.</p>
        <p>Roger also prepared a detailed report on how we could improve SEO for our website. The result has been a significant increase in our organic web traffic. Roger also responds to our requests really quickly which I really appreciate - it helps me feel that we are truly supported and protected from an IT point of view.</p>
      </div>
    </article>
    <article class="testimonial even">
      <figure>
        <img src="images/testimonials/renee-watson-curiosity-box.webp" width="300" height="300" alt="Renee Watson from Curiosity Box" decoding="async" loading="lazy">
      </figure>
      <div class="text-block">
        <h3>Renée Watson @ Curiosity Box</h3>
        <p>It was with some trepidation that I first came to Roger with the challenge of recreating a more efficient and effective website. I needed a site that enabled us to improve sales conversions, whilst capturing our brand and values in a way that our current website did not. I had been through a number of fairly disastrous web development experiences and I was very anxious about spending a lot of money to only fail again.</p>
        <p>I needn’t have worried! Roger has delivered far better than I expected. He is able to communicate and translate the more technical aspects of the website, whilst completely understanding what we are trying to achieve from a customer perspective. In my experience, this is an <strong>incredibly rare combination</strong>, and it really sets Roger apart.</p>
        <p>Not only that, Roger has worked out as an incredibly cost effective solution and I really wish we had have skipped the agencies and come to him first. Even though he's a freelancer, Roger feels like <strong>a hugely valuable part of our team</strong> now. He brings a breadth of skills that make him like a one man tech department which, as a small business, is something that usually feels out of reach.</p>
          </p>
      </div>
    </article>
  </div>
</section>

<section class="great-fit">
  <div class="wrap">
    <p class="h1">If you're a business owner concerned about the <span>environment, sustainability and the planet</span>, who wants to do the right thing in the right way, we could be a great fit for you.</p>
    <p class="button-block">
      <a href="#" class="primary-btn">Getting started<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
    </p>
  </div>
</section>

<section class="un-sdgs">
  <div class="wrap">
    <h2>UN Sustainability Development Goals</h2>
    <p>Our websites make a positive contribution to these UN SDGs:</p>
    <ul>
      <li><img src="/images/sdgs/un-sdg-goal-10.webp" alt="UN SDG Goal 10 - Reduced Inequalities" width="300" height="300" decoding="async" loading="lazy"></li>
      <li><img src="/images/sdgs/un-sdg-goal-12.webp" alt="UN SDG Goal 12 - Responsible Consumption and Production" width="300" height="300" decoding="async" loading="lazy"></li>
      <li><img src="/images/sdgs/un-sdg-goal-13.webp" alt="UN SDG Goal 13 - Climate Action" width="300" height="300" decoding="async" loading="lazy"></li>
      <li><img src="/images/sdgs/un-sdg-goal-17.webp" alt="UN SDG Goal 17 - Partnerships for the Goals" width="300" height="300" decoding="async" loading="lazy"></li>
    </ul>
    <h3>10 Reduced Inequalities</h3>
    <p>Key points describing how...</p>
    <h3>12 Responsible Consumption and Production</h3>
    <p>Key points describing how...</p>
    <h3>13 Climate Action</h3>
    <p>Key points describing how...</p>
    <h3>17 Partnerships for the Goals</h3>
    <p>Key points describing how...</p>
  </div>
</section>


<article class="services trapezium-right-grey">
  <div class="wrap">
    <ul class="services__block">
      {{- range $.Site.Data.homeservices.items -}}
      <li class="services__block-item">
        <a aria-label="{{ .header }}" href="{{ .url }}">
          <svg aria-hidden="true" class="tree"><use xlink:href="/icons/defs.svg#icon-{{ .svg}}"></use></svg>
          <span class="visually-hidden">{{ .header }}</span>
        </a>
        <a href="{{ .url }}">
          <h2>{{ .header }}</h2>
        </a>
        <p>{{ .text }}</p>
        <a href="{{ .url }}"
          >More details<svg aria-hidden="true" class="icon icon-arrow-right4"><use xlink:href="/icons/symbol-defs.svg#icon-arrow-right4"></use></svg>
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>
</article>

<section class="ebook trapezium-left-light-blue">
  <div class="wrap cf">
    <div class="ebook__contents">

      <div class="ebook__contents-intro">
        <h2>Assess the effectiveness of your website</h2>
        <p>To assess how effective your website is and how to improve it, we would be happy to send you a copy of our free eBook.</p>
        <p>The eBook is based on our many years of experience and is intended for business owners. It's not technical but suggests 35 aspects of a website which should be examined to see if improvements can be made. It's straightforward and could make a significant difference to the effectiveness of your site.</p>
        <p class="centre"><a target="_blank" href="/files/get-more-from-your-business-website.pdf" class="blue-btn">Download our eBook</a></p>
      </div>
      <div class="ebook__contents-image">
        <a href="/files/get-more-from-your-business-website.pdf">
          <img decoding="async" src="{{ $.Page.Site.Params.cloudinaryPath }}{{ $.Page.Site.Params.cloudinaryMainParms | safeURL }},w_500/blog/get-more-from-your-business-website_b7zeeq.jpg"
          srcset="
              {{- $.Page.Site.Params.cloudinaryPath -}} {{- $.Page.Site.Params.cloudinaryMainParms | safeURL -}},w_500/blog/get-more-from-your-business-website_b7zeeq.jpg 500w,
              {{- $.Page.Site.Params.cloudinaryPath -}} {{- $.Page.Site.Params.cloudinaryMainParms | safeURL -}},w_320/blog/get-more-from-your-business-website_b7zeeq.jpg 320w"
              loading="lazy" 
              sizes="(max-width: 44em) 96vw, 33vw"
              width="500" height="599"
              alt="How to get more from your business website">
        </a>
      </div>
    </div>
  </div>
</section>

  <section class="testimonials-block">
    <div class="wrap">
      <h2>What our clients say</h2>
      {{ partial "partials/testimonials.html" . }}
    </div>
  </section>
  
  {{ partial "partials/cta.html" . }} 
  
  {{- end }}{{/* end main */}}