{{- define "main" }}

{{ partial "partials/hero.html" . }}

<!--<section class="owner-designer">
  <div class="wrap">
    <h2>Business owner or Professional designer?</h2>
    <ul>
      <li>
        <svg aria-hidden="true"><use xlink:href="/icons/leaf-defs.svg#leaf5"></use></svg>
        <article>
          <h3>Business owners</h3>
          <p>We create secure, optimised eCommerce website to take your business to the next level.</p>
          <a class="primary-btn" href="/contact/">Getting started<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
        </article>
      </li>
      <li>
        <svg aria-hidden="true"><use xlink:href="/icons/leaf-defs.svg#leaf6"></use></svg>
        <article>
          <h3>Designers</h3>
          <p>We offer a white-label service, building effective eCommerce sites from your designs.</p>
          <a class="primary-btn" href="/contact/">Design collaboration<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
        </article>
      </li>
    </ul>
  </div>
</section>-->

<section class="why-low-carbon">
  <div class="wrap">
    <h2>Why low-carbon websites?</h2>
    <ul>
      <li>
        <svg aria-hidden="true"><use xlink:href="/icons/tree-defs.svg#tree1"></use></svg>
        <article>
          <h3>Problems</h3>
          <p>Internet servers, networks and devices consume a significant amount of power - estimated at 3.7% of all the world's electricity. Most of this electricity comes from non-renewable resources, resulting in significant CO<sub>2</sub> emissions.</p>
          <p><a class="primary-btn" href="/sustainable-web-design/">Learn more<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a></p>
        </article>
      </li>
      <li>
        <svg aria-hidden="true"><use xlink:href="/icons/tree-defs.svg#tree2"></use></svg>
        <article>
          <h3>Benefits</h3>
          <p>As well as reducing the environmental impact, a low-carbon website will load more quickly so providing a better experience for your site visitors. Search engines prefer faster websites and so, all things being equal, faster websites achieve higher positions in the search results.</p>
          <p><a class="primary-btn" href="/faqs/">FAQs<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a></p>
        </article>
      </li>
    </ul>
  </div>
</section>

<section class="attractmore-purpose">
  <div class="wrap">
    <aside class="attractmore">
      <svg aria-hidden="true"><use xlink:href="/icons/logo-defs.svg#attractmore-logo"></use></svg>
      <span class="h2">AttractMore</span>
    </aside>
    <article class="content-image">
      <div class="text-block">
        <h2 class="h3">About AttractMore</h2>
        <p>AttractMore is a small creative web agency with a strong interest in sustainability. After discovering how much carbon the internet produces, we researched methods for reducing those emissions and have been working with clients to keep their carbon footprint to a minimum.</p>
        <p><a class="primary-btn" href="/about/">More info<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a></p>
        <h2 class="h3">What we do</h2>
        <p>We work closely with business owners to create fast, effective websites that are eco-friendly. We also specialise in <a href="/services/search-engine-optimisation/">search engine optimisation</a> to make sure the websites we create can be found easily in the search engines.</p>
        <p>
          <a class="primary-btn" href="/services/">Services<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
        </p>
      </div>
      <picture>
        <source srcset="/images/misc/forest-lake.webp" type="image/webp">
        <img src="/images/misc/forest-lake.jpg" alt="forest and lake" width="387" height="387" decoding="async" loading="lazy">
      </picture>
    </article>
    <svg class="arrow-down" aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-down"></use></svg>
  </div>
</section>

<section class="stand-out">
  <div class="wrap">
    <article>
      <div class="text-block">
        <h2 class="h3">Stand out with purpose</h2>
        <p>More and more people want to work with businesses that have a conscience. Having a sustainable website is one way to demonstrate your commitment to the environment.</p>
        <p>We're particularly keen to work with businesses that, like us, are concerned about the environment, sustainability and the future of the planet.</p>
      </div>
      <aside class="logo-plus-button">
        <svg class="logo" aria-hidden="true"><use xlink:href="/icons/logo-defs.svg#attractmore-logo"></use></svg>
        <a class="primary-btn" href="/contact/">Improve your website<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
      </aside>
    </article>
  </div>
</section>

<section class="carbon-calculation">
  <div class="wrap">
    <article>
      <h2 class="h3">Carbon emissions of your website</h2>
      <p>I can provide you with an estimate of the carbon emissions of a web page. Simply include the web page address (including the https:// part please), your name and an email address in the form below, click Calculate and I'll send you the figures.</p>
      <div class="form-image">
        <form action="https://formspree.io/f/mwkgldrp" method="POST">
          <input type="hidden" name="subject" value="AttractMore Carbon Emissions Request" />
          <fieldset>
            <p>
              <label for="url">Full address of web page to be checked:</label>
              <input name="url" id="url" type="url" maxlength="50" required />
            </p>
            <p>
              <label for="name">Your name:</label>
              <input name="name" id="name" type="text" maxlength="35" autocomplete="name" required />
            </p>
            <div class="email-entry">
              <label for="email">Email address:</label>
              <input name="email" id="email" type="email" autocomplete="email" required maxlength="100" />
              <p class="email-suggestion"><span class="alert">! </span>Did you mean <a class="suggested-email"><span class="address"></span>@<span class="domain"></span></a>? Click or tap the amended email to use.</p>
            </div>
          </fieldset>
          <fieldset class="mb-1-5">
            <button class="primary-btn" type="submit" id="submit" name="submit" value="submit">Calculate<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></button>
          </fieldset>
          <p><small>We will only use the information you provide to send you the carbon emissions data. We will not use the information for marketing or for any other purpose.</small></p>
        </form>
        <aside class="illustration">
          <svg aria-hidden="true"><use xlink:href="/icons/tree-defs.svg#tree3"></use></svg>
        </aside>
      </div>
    </article>
  </div>
</section>

<section class="great-fit">
  <div class="wrap">
    <p class="h1">If you're an ambitious business owner concerned about the <span>environment, sustainability and the planet</span>, who wants to do the right thing in the right way, we could be a great fit for you.</p>
    <p class="button-block">
      <a href="https://calendly.com/attractmore/40min" class="primary-btn">Book a discovery call<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
    </p>
  </div>
</section>


<!--<section class="be-better">
  <div class="wrap">
    <article>
      <div class="text-block">
        <h3>We believe that things can be better</h3>
        <p>We understand that it can be frustrating if you're not selling enough and the business is not working out the way you expected but, as others have found, a fully optimised website that is fast and secure can make all the difference to your sales.</p>
        <p>We will create a safe, fast and effective e-commerce website to promote your business and boost your sales. The key is to customise the website to meet the specific, unique requirements of your business. If this sounds like what you need, we could be the perfect fit for you.</p>
        <p>Our small team builds eCommerce sites using a range of different tools (not just WordPress!) and we will help you decide which is the best option for your business to really get it moving.</p>
      </div>
      <aside class="logo-plus-button">
        <svg class="logo" aria-hidden="true"><use xlink:href="/icons/logo-defs.svg#attractmore-logo"></use></svg>
        <a class="primary-btn" href="#">Getting started<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
      </aside>
    </article>
  </div>
</section>-->

<section class="testimonials">
  <div class="wrap">
    <h2>Testimonials</h2>
    <article class="testimonial">
      <figure>
        <img src="images/testimonials/julie-macken-neves-bees.webp" width="300" height="300" alt="Julie Macken from Neve's Bees" decoding="async" loading="lazy">
      </figure>
      <div class="text-block">
        <h3>Julie Macken @ Neve's Bees</h3>
        <p>I would highly recommend Roger. Roger initially created for us a simple yet attractive e-commerce website which worked perfectly and fit our budgets. As our business has grown, Roger has been instrumental in developing our website.</p>
        <p>Roger also prepared a detailed report on how we could improve SEO for our website. The result has been a significant increase in our organic web traffic. Roger also responds to our requests really quickly which I really appreciate - it helps me feel that we are truly supported and protected from an IT point of view.</p>
      </div>
    </article>
    <article class="testimonial even">
      <figure>
        <img src="images/testimonials/renee-watson-curiosity-box.webp" width="300" height="300" alt="Renee Watson from Curiosity Box" decoding="async" loading="lazy">
      </figure>
      <div class="text-block">
        <h3>Renée Watson @ Curiosity Box</h3>
        <p>It was with some trepidation that I first came to Roger with the challenge of recreating a more efficient and effective website. I needed a site that enabled us to improve sales conversions, whilst capturing our brand and values in a way that our current website did not. I had been through a number of fairly disastrous web development experiences and I was very anxious about spending a lot of money to only fail again.</p>
        <p>I needn't have worried! Roger has delivered far better than I expected. He is able to communicate and translate the more technical aspects of the website, whilst completely understanding what we are trying to achieve from a customer perspective. In my experience, this is an <strong>incredibly rare combination</strong>, and it really sets Roger apart.</p>
        <p>Not only that, Roger has worked out as an incredibly cost effective solution and I really wish we had have skipped the agencies and come to him first - Roger feels like <strong>a hugely valuable part of our team</strong> now. He brings a breadth of skills that make him like a one man tech department which, as a small business, is something that usually feels out of reach.</p>
      </div>
    </article>
  </div>
</section>

<section class="work-together">
  <div class="wrap">
    <p class="h1 centre">Let's work together <span>for a better future</span>.</p>
    <p class="button-block">
      <a href="https://calendly.com/attractmore/40min" rel="noopener,noreferrer,nofollow" class="primary-btn">Book a discovery call<svg aria-hidden="true"><use xlink:href="/icons/icon-defs.svg#icon-arrow-right-bold"></use></svg></a>
    </p>
  </div>
</section>

<section class="un-sdgs">
  <div class="wrap">
    <h2 class="centre">UN Sustainability Development Goals</h2>
    <p class="intro centre">We support the <a href="https://sdgs.un.org/goals" rel="noopener, noreferrer">United Nations Sustainable Development Goals</a> and actively work towards making an impact on four key goals:</p>
    <ul class="sdg-images">
      <li><img src="/images/sdgs/un-sdg-goal-10.webp" alt="UN SDG Goal 10 - Reduced Inequalities" width="300" height="300" decoding="async" loading="lazy"></li>
      <li><img src="/images/sdgs/un-sdg-goal-12.webp" alt="UN SDG Goal 12 - Responsible Consumption and Production" width="300" height="300" decoding="async" loading="lazy"></li>
      <li><img src="/images/sdgs/un-sdg-goal-13.webp" alt="UN SDG Goal 13 - Climate Action" width="300" height="300" decoding="async" loading="lazy"></li>
      <li><img src="/images/sdgs/un-sdg-goal-17.webp" alt="UN SDG Goal 17 - Partnerships for the Goals" width="300" height="300" decoding="async" loading="lazy"></li>
    </ul>
    <article class="text-block">
      <h3>10 Reduced Inequalities</h3>
      <ul>
        <li>Many parts of the world have much slower internet connections than we do in the UK. Our sustainable, highly efficient websites transfer less data over the internet which means greater access to these websites globally.</li>
        <li>A significant percentage of people with access to the internet have slower, less powerful devices. Our websites make less demand on devices making them more accessible to a larger number of people across the globe.</li>
      </ul>
      <h3>12 Responsible Consumption and Production</h3>
      <ul>
        <li>Low-carbon websites are much more efficient than the average site, which means they consume less electricity (and therefore less fossil fuels).</li>
        <li>We aim to use “green” hosting companies that power their servers using renewable energy sources only.</li>
      </ul>
      <h3>13 Climate Action</h3>
      <ul>
        <li>We build websites using tools and techniques that keep their carbon footprint as low as possible.</li>
        <li>Our website is cleaner than 94% of websites tested by <a href="https://www.websitecarbon.com/" rel="noopener, noreferrer,  nofollow">Wholegrain Digital</a>.</li>
        <li>Our website is Climate Positive, accredited by the <a href="https://ecofriendlyweb.org/" rel="noopener, noreferrer, nofollow">Eco-friendly Web Alliance</a>.</li>
      </ul>
      <h3>17 Partnerships for the Goals</h3>
      <ul>
        <li>We work with businesses that want to reduce their carbon footprint.</li>
        <li>We work in partnership with designers, marekters and content creators that are also aligned with the UN SDGs.</li>
      </ul>
    </article>
  </div>
</section>
  
  {{- end }}{{/* end main */}}