<section class="accreditations">
  <div class="wrap">
    <ul>
      <li class="green-hosted">
        <svg aria-hidden="true" class="tree"><use xlink:href="/icons/tree-defs.svg#oak"></use></svg>
        <span class="h3">Green<br>Hosted</span>
      </li>
      <li class="gbc">
        <a href="https://www.goodbusinesscharter.com/" target="_blank">
          <svg aria-hidden="true" class="tree"><use xlink:href="/icons/logo-defs.svg#gbc-logo"></use></svg>
        </a>
      </li>
      <li class="efwa">
        <a href="https://ecofriendlyweb.org/client/attractmore/" target="_blank">
          <img src="/icons/efwa.svg" alt="Eco-friendly web alliance (EFWA) logo" />
        </a>
      </li>
    </ul>
  </div>
</section>
