<section class="accreditations">
  <div class="wrap">
    <ul>
      <li class="green-hosted">
        <img src="/icons/green-hosted-logo.svg" alt="AttractMore is green hosted" loading="lazy" width="200" height="114">
      </li>
      <li class="gbc">
        <a href="https://goodbusinesscharter.com/" target="_blank">
          <img src="/icons/gbc-logo.png" alt="Good Business Charter logo" width="200" height="200" loading="lazy" decoding="async">
        </a>
      <li class="asp">
        <a href="https://sustainabilitypractitioners.org/" target="_blank">
          <img src="/icons/association-of-sustainability-practitioners.jpg" alt="Association of Sustainability Practitioners logo" width="200" height="133" loading="lazy" decoding="async">
        </a>
      </li>
      <li class="efwa">
        <a href="https://ecofriendlyweb.org/client/attractmore/" target="_blank">
          <img src="/images/misc/efwa-logo.webp" alt="Eco-friendly web alliance (EFWA) logo" loading="lazy" width="378" height="120">
        </a>
      </li>
      <li class="bbn">
        <a href="https://thebetterbusiness.network/" target="_blank">
          <img src="/icons/better-business-network.svg" alt="Better Business Network (BBN) logo" loading="lazy" width="150" height="150">
        </a>
      </li>
    </ul>
  </div>
</section>
