<section class="accreditations">
  <div class="wrap">
    <ul>
      <li class="green-hosted">
        <img src="/icons/green-hosted-logo.svg" alt="AttractMore is green hosted" loading="lazy" width="200" height="114">
      </li>
      <li class="gbc">
        <a href="https://goodbusinesscharter.com/" target="_blank">
          <svg aria-hidden="true" class="tree"><use xlink:href="/icons/logo-defs.svg#gbc-logo"></use></svg>
        </a>
      </li>
      <li class="efwa">
        <a href="https://ecofriendlyweb.org/client/attractmore/" target="_blank">
          <img src="/icons/efwa.svg" alt="Eco-friendly web alliance (EFWA) logo" loading="lazy" width="378" height="120">
        </a>
      </li>
    </ul>
  </div>
</section>
