<aside class="dark-mode-wrap">
  <button class="c-dark-mode-toggle" type="button" data-behaviour="dark-mode-toggle" role="switch" aria-checked="false">
    <span class="visually-hidden" data-text>Toggle dark mode</span>
    <svg class="c-dark-mode-toggle__icon c-dark-mode-toggle__icon--light" aria-hidden="true" focusable="false">
      <use xlink:href="/icons/symbol-defs.svg#icon-light-mode"></use>
    </svg>
    <svg class="c-dark-mode-toggle__icon c-dark-mode-toggle__icon--dark" aria-hidden="true" focusable="false">
      <use xlink:href="/icons/symbol-defs.svg#icon-dark-mode"></use>
    </svg>
  </button>
</aside>
