<footer role="contentinfo" class="site-foot">
  <div class="wrap">
    <div class="footer-nav">
      <div class="footer-nav-block1">
        <p class="h3">Find us elsewhere</p>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/rogerknight"
              ><svg class="icon icon-linkedin2"><use xlink:href="/icons/icon-defs.svg#icon-linkedin2"></use></svg><span class="visually-hidden">LinkedIn</span></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-nav-block2">
        <ul>
          <li><a href="/accessibility/">Accessibility</a></li>
          <li><a href="/environment/">Environment</a></li>
          <li><a href="/terms-conditions/">Terms &amp; Conditions</a></li>
          <li><a href="/privacy-cookies/">Privacy &amp; Cookies</a></li>
        </ul>
      </div>
    </div>

    <div class="accreditations">
      <ul>
        <li>
          <a href="https://www.goodbusinesscharter.com/" target="_blank">
            <img src="/images/misc/gbc-accredited-logo.svg" loading="lazy" alt="Good Business Charter logo" />
          </a>
        </li>
        <li>
          <a href="https://ecofriendlyweb.org/client/attractmore/" target="_blank">
            <img
              srcset="/images/misc/efwa-logo-418x104.png 418w, /images/misc/efwa-logo-260x65.png 260w"
              sizes="(min-width: 30em) 418px, 260px"
              src="/images/misc/efwa-logo-260x65.png"
              width="418"
              height="104"
              loading="lazy"
              alt="Eco-friendly web alliance (EFWA) logo" />
          </a>
        </li>
        <li>
          <img
            srcset="/images/misc/tree-104x104.png 104w, /images/misc/tree-65x65.png 65w"
            sizes="(min-width: 30em) 104px, 65px"
            src="/images/misc/tree-65x65.png"
            width="65"
            height="65"
            loading="lazy"
            alt="Green hosted" />
          <p>Green hosted</p>
        </li>
      </ul>
    </div>

    <div class="final-footer">
      <p class="company">Company registered in England No. 9514840</p>
      <p class="copyright">© {{ now.Year }} AttractMore Ltd.</p>
      <div id="wcb" class="carbonbadge"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
  </div>
</footer>