<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrap">

    <div class="site-head__inner">
      <a href="/" aria-label="AttractMore - home" class="site-head__brand">
        <img aria-hidden="true" src="/images/logo/attractmore-logo-large@2x.png" alt="Home - AttractMore logo"
          width="200" height="37"
          srcset="/images/logo/attractmore-logo-large@2x.png 600w,
                  /images/logo/attractmore-logo-large.png 300w,
                  /images/logo/attractmore-logo-small@2x.png 400w,
                  /images/logo/attractmore-logo-small.png 200w"
                  sizes="(min-width: 30em) 300px, 200px">
      </a>

      <nav class="nav site-head__nav" aria-expanded="false">
        {{- $currentPageTitle := .Title }}
        <ul id="menu" class="nav__list">
          {{- range .Site.Menus.main }}
            <li>
              <a href="{{ .URL }}" title="{{ .Name }}" {{- if eq $currentPageTitle .Name }} aria-current="page" data-state="active" {{- end }}>
                {{ .Name }}
              </a>
            </li>
          {{- end }}
        </ul>
      </nav>
      <template id="burger-template">
        <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="main"><i></i><span class="visually-hidden">menu</span>
        </button>
      </template>
    </div>
  </div>
</header>