<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{- partial "page-meta.html" . }}

<link rel="preconnect" href="https://res.cloudinary.com" />
<link rel="dns-prefetch" href="https://res.cloudinary.com" />
<!-- <link rel="preconnect" href="https://storage.googleapis.com" /> -->

{{/*- $opts := dict "transpiler" "dartsass" "targetPath" "css/styles.css" "outputStyle" "compressed" */}}
{{/*- with resources.Get "/scss/critical.scss" | toCSS $opts -*/}}
{{- with resources.Get "css/critical.css" }}
<style>{{ .Content | safeCSS }}</style>
{{- end -}}

{{- if .Params.extraStyles -}}
{{/* - with resources.Get .Params.extraStyles | toCSS $opts -*/}}
{{- with resources.Get .Params.extraStyles -}}
<style>{{ .Content | safeCSS }}</style>
{{- end -}}
{{- end -}}

{{if eq .Title "FAQs"}} 
  <script defer type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {{ $len:= len $.Site.Data.faqs.items }}
    {{- range $index, $element:= $.Site.Data.faqs.items -}}
      {
        "@type": "Question",
        "name": "{{.question}}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ .answer }}"
        }
      }{{if ne (add $index 1) $len }},{{- end -}}
    {{- end -}}
    ]
  }
  </script>
{{- end -}}

{{if eq .Title "Sustainable Web Design"}} 
  <script defer type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {{ $len:= len $.Site.Data.sustainablewebsitecreation.items }}
    {{- range $index, $element:= $.Site.Data.sustainablewebsitecreation.items -}}
      {
        "@type": "Question",
        "name": "{{.topic}}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ .response }}"
        }
      }{{if ne (add $index 1) $len }},{{- end -}}
    {{- end -}}
    ]
  }
  </script>
{{- end -}}

{{- /* Favicons */}} 
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
<link rel="manifest" href="/favicons/site.webmanifest" />
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#2b5797" />
<meta name="theme-color" content="#ffffff" />

{{- /* RSS */}} 
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}" />
{{- end -}} 

{{- range .AllTranslations -}}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
{{ end -}}

{{- if ne .Title "Home" -}}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "{{ .Title }}",
          "item": "{{ .Permalink }}"
        }
      ]
    }
  </script>
{{- end -}}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://www.attractmore.uk",
    "logo": "https://www.attractmore.uk/images/attractmore-logomark.png"
  }
</script>
