blockquote {
  border:1px solid $mid-grey;
  border-left:4px solid $theme-green;
  padding:1.5em;
  margin: 1em 0;
  p {
    margin-top: 0;
    &:last-of-type {
      margin:0;
    }
  }
}
.contact {
  .sidebar {
    blockquote {
      quotes: "“" "”";
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      &:before {
        content: open-quote;
        font-family: "Georgia",Cambria,Times New Roman,Times,serif;
        font-size: 4em;
        line-height: .1em;
        margin-right: .15em;
        vertical-align: -.35em;
      }
    }
    cite {
      text-align: right;
      display: block;
    }
  }
}
