.btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-family: $sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--textColour) !important;
  font-size: 1.125rem;
  line-height: 1;
  padding: 10px 20px;
  border-radius: var(--button-radius);
  border: 0;
  cursor: pointer;
  transition: background-color 0.14s ease-in-out;

  // hovering on the btn
  &:hover,
  &:focus {
    color: var(--textColour);
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  &:focus {
    // fallback style for browsers that don't support :focus-visible
    outline: 3px solid var(--textColour);
  }

  &:focus:not(:focus-visible) {
    // Remove the focus indicator on mouse focus for browsers that do support :focus-visible
    outline: none;
  }

  &:focus:focus-visible {
    // draw a noticeable focus style for keyboard focus on browsers that support :focus-visible
    outline: 3px solid var(--textColour);
  }
} // end .button

.primary-btn {
  @extend .btn;
  background-color: var(--darkOrange);
  svg {
    width: 0.85em;
    height: 0.85em;
    margin-left: 1.5em;
  }

  &:hover,
  &:focus {
    background-color: var(--lightOrange);
  }

  &:active {
    background-color: var(--lightOrange);
    transform: scale(99%);
  }
}
.blue-btn {
  @extend .btn; // here we load the btn defaults
  background-color: var(--darkOrange);

  &:hover,
  &:focus {
    background-color: var(--lightOrange);
  } // end hover

  &:active {
    background-color: var(--lightOrange);
  } // end active
} // end blue button

.green-transp-btn {
  @extend .btn; // here we load the btn defaults
  background-color: transparent;
  color: var(--primary) !important;
  border: 2px solid var(--primary);

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.15);
  } // end hover

  &:active {
    background-color: rgba(0, 0, 0, 0.25);
  } // end active
} // end green-transp button

.cta-button {
  @extend .btn; // here we load the btn defaults
  background-color: var(--lightOrange);

  &:hover,
  &:focus {
    background-color: var(--lightOrange);
  } // end hover

  &:active {
    background-color: var(--darkGreen);
  } // end active
} // end cta button

#mc-embedded-subscribe {
  @extend .blue-btn;
  //	padding:8px 12px;
}
