/* See https://web.dev/articles/website-navigation */
.nav-burger {
  position: absolute;
  border: none;
  top: 2rem;
  right: 1.25em;
  text-decoration: none;
  padding: 0.5em 0.5rem;
  color: var(--textColour);
  width: 38px;
  height: 38px;
  display: block;
  background: transparent;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 20;
  &:focus {
    // fallback style for browsers that don't support :focus-visible
    outline: 3px solid var(--darkOrange);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    // Remove the focus indicator on mouse focus for browsers that do support :focus-visible
    outline: none;
  }

  &:focus:focus-visible {
    // draw a noticeable focus style for keyboard focus on browsers that support :focus-visible
    outline: 3px solid var(--darkOrange);
    outline-offset: 2px;
  }
  i {
    display: block;
    &:before,
    &:after {
      content: "";
    }
    &:before {
      margin-top: -8px;
    }
    &:after {
      margin-top: 8px;
    }
  }
  i,
  i:before,
  i:after {
    height: 3px;
    width: 24px;
    background: var(--textColour);
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &[aria-expanded="true"] {
    i {
      background: transparent;
      &:before,
      &:after {
        left: -2px;
        width: 28px;
        background: var(--white);
      }
      &:before {
        transform: rotate(45deg);
        top: 6px;
        margin-top: -6px;
      }
      &:after {
        transform: rotate(-45deg);
        top: -10px;
        margin-top: 10px;
      }
    }
  }
}
.site-overlay {
  display: none;
}

.site-head__nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 30em;
  width: $menu-width;
  overscroll-behavior: contain;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
  background-color: var(--slateGrey);
  &[aria-expanded="false"] {
    transform: translateX(100%);
    a {
      display: none;
    }
  }
  &[aria-expanded="true"] {
    // transform: translateX(100%);
    a {
      display: block;
    }
  }

  ul {
    list-style: none;
  }
  li {
    margin: 1em 0;
    svg {
      fill: var(--white);
    }
    &:first-child {
      margin-top: 4.5rem;
    }
  }
  a {
    // display: block;
    color: var(--white);
    padding: 9px 12px;
    text-decoration: none;
    font-size: 1.25rem;
    &:after {
      margin-left: 0.5em;
      content: "❯"; /* https://unicode-table.com/en/sets/arrow-symbols/ */
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    &:hover,
    &[data-state="active"] {
      color: var(--white);
      text-decoration: none;
      &:after {
        opacity: 1;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    & {
      transition: transform 0.4s ease;
    }
  }
}

@media screen and (min-width: $bp-large) {
  .nav-burger,
  .site-overlay {
    display: none;
  }
  .site-head__nav {
    background-color: transparent;
    position: relative;
    width: auto;
    height: auto;
    transition: none;
    transform: none;
    overflow: visible;
    &[aria-expanded="false"] {
      transform: none;
      a {
        display: inline-block;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      transition: none;
      li {
        display: inline-block;
        margin: 0 0.5em 0;
        padding: 0;
        width: auto;
        line-height: 1;
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        display: inline-block;
        position: relative;
        transition: all 0.3s ease-out 0s;
        padding: 0.5em;
        margin: 0;
        color: var(--textColour);
        &:after {
          position: absolute;
          left: 50%;
          margin: 0;
          content: "";
          bottom: 0;
          height: 2px;
          width: 0;
          transform: translate(-50%, 0);
          transition: all 0.3s ease-out 0s;
          background-color: var(--darkGreen);
        }
        &:hover {
          color: var(--textColour);
          &:after {
            width: 100%;
          }
        }
        &[data-state="active"] {
          color: var(--textColour);
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
      li:last-child {
        margin-right: 0;
        a {
          margin-right: 0;
        }
      }
    }
    @media (prefers-reduced-motion: no-preference) {
      & {
        transition: none;
      }
      ul {
        transition: none;
      }
    }
  }
}
.site-overlay {
  -webkit-animation: fade 0.5s;
  animation: fade 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 15;
}
