.ebook {
  h2 {
    margin: 1em 0;
    color: var(--textColour);
  }
  &__contents-intro p {
    font-size: 1.1em;
  }
  &__contents-image {
    img {
      max-width: 320px;
      margin: 0 auto 1.5em;
    }
  }
}

@media screen and (min-width: 44em) {
  .ebook__contents {
    display: flex;
    justify-content: space-between;
    > div {
      flex: 0 1 48%;
    }
    &-image {
      margin-top: 2em;
      img {
        max-width: 500px;
      }
    }
  }
}
