@import "variables";
@import "mixins";
.trapezium-left-light-blue,
.trapezium-right-grey {
  padding: 2em 0;
  margin: 4em 0;
  -webkit-clip-path: polygon(0 2%, 75% 0%, 100% 2%, 100% 97%, 25% 100%, 0 97%);
  clip-path: polygon(0 2%, 75% 0%, 100% 2%, 100% 97%, 25% 100%, 0 97%);
}

.trapezium-right-grey {
  background-color: var(--background-grey);
  // @include skew(-$skew, $skew,  0, 100%, 0, 100%);
}

.trapezium-left-light-blue {
  background-color: var(--background-light-blue);
  // @include skew(-$skew, $skew,  0, 100%, 0, 100%);
}
