/*********************
COLOURS
*********************/
:root {
  --bg: #fff;
  --bgFoot: #ededed;
  --bgSidebar: #ededed;
  --textColour: #24373f;
  --primary: #207737;
  --red: #be3622;
  --secondary: #be3622;
  --secondaryHover: rgba(227, 115, 99, 0.99);
  --background-grey: #ededed;
  --background-light-blue: #d6ebff;
  --slateGrey: #405165;
  --darkerOrange: #cc6615;
  --darkOrange: #f39200;
  --lightOrange: #f9b45c;
  --lightBlue: rgb(189, 224, 221);
  --paleLightBlue: rgb(189, 224, 221, 0.3);
  --lightYellow: #fdf8e3;
  --darkGreen: #597a36;
  --midGrey: #cccccc;
  --darkPurple: #482683;
  --grey: #ededed;
  --white: #ffffff;
  --black: #000000;
  --button-radius: 30px;
  --radius: 4px;
  --menu-width: 12em;
}

/***************************************
    BREAKPOINTS
****************************************/
$bp-small: 30em; /* 480px */
$bp-medium: 44em; /* 704px */
$bp-large: 58em; /* 928px */
$bp-huge: 70em; /* 1120px */

/***************************************
	OTHERS
***************************************/
$base-font-size: 16px;
$base-font-size2: 18px;
$flow-space: 1em;
